@font-face {
    font-family: "SourceSansPro-Bold";
    src: url("./fonts/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: "SourceSansPro-Light";
    src: url("./fonts/SourceSansPro-Light.otf");
}

@font-face {
    font-family: "JMH-Typewriter-Bold";
    src: url("./fonts/JMH-Typewriter-Black.ttf");
}

html, body {
    overflow-x: hidden;
}

body {
    background-image: url('./images/fondo.png');
    background-size: contain;
    margin: 0;
    overflow-x: hidden;
    /* position: inherit; */
    position: relative
}

.sticky-gray {
    background: #141411;
    border-bottom: 5px solid #4e5718;
}


/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease;
    height: 65px;
}


/* .sticky-gray {
    background: #272626;
    border-bottom: 5px solid #c51e35;
} */

header img {
    width: 160px;
}

.header-main-container {
    padding: 1px 42px;
}

.a-header {
    display: inline-block;
    margin-top: 13px;
}

.logo-desktop {
    font-size: 2.5rem;
    color: #ffff;
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
    margin: 0;
}

.logo-mobile {
    font-size: 2.5rem;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    font-weight: 700;
    margin: 0;
}

.hidden {
    display: none;
}

.right {
    margin-top: 13px;
    float: right !important;
}

header span {
    font-size: 0;
}

span a.btn-fb {
    background-position: 0 0;
    background-repeat: no-repeat;
}

span a.btn-twt {
    background-position: 0 -43px;
    background-repeat: no-repeat;
}

span a.btn-wsp {
    background-position: 0 -86px;
    background-repeat: no-repeat;
}

.right span a {
    background-image: url(https://s3.amazonaws.com/glr-demo/2020/04/13/icons-white-1586816732.svg);
}

span [class*="btn-"] {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-left: 10px;
}

@media (max-width: 500px) {
    .header-main-container {
        padding: 1px 10px;
    }
}


/*Main*/

.mainHeader {
    position: relative;
    min-height: 117vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portadaImg {
    height: 100%;
    margin: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.portadaMobile {
    display: none;
}

.portadaImg img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.tituloText {
    position: absolute;
    height: 350px;
    width: 1200px;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -275px;
    text-align: center;
}

.tituloText .lr-conectas {
    margin-top: 50px;
}

.tituloText .lr-conectas img:nth-child(1) {
    height: 56px;
}

.tituloText .lr-conectas img:nth-child(2) {
    height: 84px;
}

.tituloMobile {
    display: none;
}

.tituloText h1 {
    color: #d0c77f;
    font-family: "JMH-Typewriter-Bold";
    font-size: 100px;
    margin: 0;
    text-shadow: rgb(0, 0, 0) 3px 3px 15px, rgb(0, 0, 0) -3px -3px 15px, rgb(0, 0, 0) -3px 3px 15px, rgb(0, 0, 0) 3px -3px 15px;
}

.tituloText h2 {
    color: #fff;
    font-size: 40px;
    font-family: "SourceSansPro-Bold";
    margin: 0;
    letter-spacing: 1.5px;
    text-shadow: rgb(0, 0, 0) 3px 3px 15px, rgb(0, 0, 0) -3px -3px 15px, rgb(0, 0, 0) -3px 3px 15px, rgb(0, 0, 0) 3px -3px 15px;
}

p,
span {
    font-family: "SourceSansPro-Light";
}

p {
    font-family: "SourceSansPro-Light";
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    text-align: left;
}

.textCenter {
    text-align: center;
    margin-top: 30px;
    font-size: 19px;
}

span {
    font-size: 18px;
    font-weight: 700;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    clear: both;
}

.row {
    margin: 80px 0;
}

.row:nth-child(1),
.row:nth-child(2) {
    margin: 0;
}

.row:last-of-type {
    margin: 0;
}

.creditosTop {
    width: 428px;
    border-bottom: 5px solid #4e5718;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
}

.creditosTop span:first-of-type {
    letter-spacing: 1.5px;
}

.mainImg {
    width: 100%;
}

footer .container p {
    text-align: center;
    font-size: 17px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

footer .container p:nth-child(1) {
    margin-top: 100px;
}

footer img {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.logosSite {
    margin-top: 0px;
    /* height: 290px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lr-conectas {
    display: flex;
    width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    /* height: 70px; */
}

.lr-conectas-cont {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inside-p.b {
    margin-top: 0px !important;
}

.lr-conectas img {
    height: auto;
}


/* .logosSite img:nth-child(2) {
    margin-top: 20px;
} */

.logosSite p {
    margin-top: 25px !important;
}

.inside-p {
    margin-bottom: -25px !important;
}

.creditos {
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.creditos p {
    margin: 0 !important;
}

.footerClose {
    margin-top: 60px !important;
    padding-bottom: 100px;
}


/*carrusel scroll*/

.slides-map {
    margin: 5rem auto;
    position: relative;
}

.slides-map .slide {
    position: relative;
    width: 100%;
    height: 140vh;
}

.slides-map .slide__content {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
    top: 50px;
    height: calc(100vh - 50px);
}

.carrusel-fixed {
    position: fixed;
}

.slides-map .fit-to-top {
    position: absolute;
    bottom: auto;
    top: 0;
    opacity: 1;
}

.slides-map .fit-to-bottom {
    position: absolute;
    bottom: 0;
    top: auto;
    opacity: 1;
}

.slides-map .visible {
    opacity: 1;
    pointer-events: initial;
}

.slides-map .slide__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides-map .slide__image img.photo_left {
    left: -18%;
}

.slides-map .slide__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: none;
    max-height: none;
}

.slides-map .slide__image .legend_photo {
    position: absolute;
    bottom: 0;
    background: #4e5718;
    opacity: 0.9;
    width: 100%;
    margin: 0;
    padding: 7px 14px;
    color: #fff;
}

.slides-map .slide__image h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 2px 2px #1c2938;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.slides-map .slide__image h2 {
    position: absolute;
    top: 33%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    left: 50%;
    font-size: 6rem;
    font-weight: 700;
    color: #f10d2f;
    text-shadow: 1px 2px 2px #1c2938;
    font-family: "Roboto", sans-serif;
}

.photo-site p {
    text-align: center;
    font-size: 16px;
    margin-top: -20px;
    padding: 0 15px;
}

.onDesktopSlide {
    display: block;
}

.onMobileSlide {
    display: none;
}

footer a {
    text-decoration: none;
    color: rgb(15, 99, 139);
}

@media (min-width: 768px) {
    .slides-map .slide__image img.photo_left {
        left: 50%;
    }

    .slides-map .slide__image img {
        width: 100%;
        height: 100vh;
    }

    .slides-map .slide__image h3 {
        font-size: 4.5rem;
    }

    .slides-map .slide__image h2 {
        font-size: 10rem;
    }

    .slides-map .slide__image .legend_photo {
        font-weight: 700;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 1400px) {
    .tituloText {
        margin-top: -250px;
    }

    .tituloText h1 {
        font-size: 85px;
        margin: 0;
    }

    .tituloText h2 {
        font-size: 32px;
    }
}

@media (max-width: 1250px) {
    .row:nth-child(2) {
        margin-top: -100px;
    }
}

@media (max-width: 810px) {
    .mainHeader {
        min-height: 150vh;
    }

    .tituloDesktop {
        display: none;
    }

    .tituloMobile {
        display: block;
    }

    .tituloMobile h1:nth-child(1) {
        font-size: 110px;
        margin-bottom: 25px;
    }

    .tituloMobile h1:nth-child(2) {
        font-size: 55px;
        margin-top: -45px;
    }

    .tituloText h2 {
        width: 400px;
        margin: 5px auto;
        font-size: 22px;
        padding: 0px 30px;
    }

    .tituloText {
        margin-top: -308px;
    }

    .container {
        padding: 0 35px;
    }

    .textCenter {
        margin-top: -80px;
    }

    p {
        font-size: 20px;
    }

    .row {
        margin: 60px 0;
    }

    .portadaMobile {
        display: block;
    }

    .lr-conectas {
        flex-direction: column;
        height: auto;
        width: 300px;
    }

    .mainHeader .tituloText .lr-conectas {
        flex-direction: column;
        height: 160px;
        /* width: 300px; */
    }

    .row:nth-child(2) {
        margin-top: 50px;
    }

    footer .container p:nth-child(1) {
        margin-bottom: 80px;
    }
}

@media (max-width:768px) {
    .container {
        padding: 0 28px;
    }
}

@media (max-width: 430px) {
    .textCenter {
        text-align: justify;
    }

    .tituloText {
        margin-top: -230px;
    }

    p {
        font-size: 18px;
    }

    .creditosTop {
        width: 100%;
    }

    .row {
        margin: 40px 0;
    }

    span {
        font-size: 15px;
    }

    .portadaDesktop {
        display: none;
    }

    .tituloMobile h1:nth-child(1) {
        font-size: 75px;
        margin-bottom: 25px;
    }

    .tituloMobile h1:nth-child(2) {
        font-size: 36px;
        margin-top: -36px;
    }

    .tituloText h2 {
        font-size: 20px;
        width: 370px;
        font-weight: 500;
        margin-top: 15px;
    }

    .row:nth-child(2) {
        margin-top: 100px;
    }

    .lr-conectas {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-bottom: 25px;
    }

    .mainHeader .lr-conectas {
        height: 160px;
        width: 300px;
    }

    .mainHeader {
        min-height: 110vh;
    }

    /* .mainHeader .lr-conectas img {
        width: 300px;
        height: auto !important;
    } */
    
    .creditos {
        margin-top: 0px;
    }

    .onDesktopSlide {
        display: none;
    }

    .onMobileSlide {
        display: block;
    }

    footer .container p:nth-child(1) {
        margin-bottom: 60px;
        margin-top: 60px;
    }

    /* .logosSite {
        height: 485px;
        margin-top: 40px;
    } */
}