.mt-0 {
    margin-top: 0px !important;
    position: relative;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#container_coca {
    height: 450px;
    width: 90%;
    display: block;
    position: relative;
    margin: auto;
}

#container_coca svg {
    width: 100%;
    height: 350px;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

text {
    font-family: "SourceSansPro-Light";
}

.focus text {
    font-size: 16px;
    /* font-family: "SourceSansPro-Light"; */
}

.overlay {
    fill: none;
    pointer-events: all;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date,
.tooltip-likes {
    font-weight: bold;
}

.legend_1 .square {
    background-color: #546022;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 2px 2px 0px 0px;
}

.legend_1,
.legend_2,
.legend_3,
.legend_4 {
    display: inline-block;
    margin-right: 14px;
}

.legend_1 span,
.legend_2 span,
.legend_3 span,
.legend_4 span {
    font-weight: 500;
}

.legend_2 .square {
    background-color: #a99e22;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 2px 2px 0px 0px;
}

.legend_3 .square {
    background-color: #8b821c;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 2px 2px 0px 0px;
}

.legend_4 .square {
    background-color: #849249;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 2px 2px 0px 0px;
    font-family: "SourceSansPro-Light";
}

.container_legend {
    position: absolute;
    bottom: 0rem;
    text-align: center;
    width: 100%;
    font-weight: 500;
}


/* mapa de ramon castilla
 */

#container_mapa {
    height: 450px;
    width: 90%;
    display: block;
}

#container_mapa svg {
    width: 100%;
    /*     height: 350px; */
}

#container_mapa .focus text {
    font-size: 14px
}

.subunit {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
}

.subunit.PUT {
    fill: #949062;
}

.subunit.RQN {
    fill: #778248;
}

.subunit.LORETO {
    fill: #849249;
}

.subunit.MAYNAS {
    fill: #777345;
}

.subunit.DATEM {
    fill: #61603a;
}

.subunit.AA {
    fill: #546022;
}

.subunit.UCA {
    fill: #728037;
}

.subunit.MRC {
    fill: #b8ad38;
    stroke: #ababab;
    stroke-width: 2px;
}

#legend_mapa {
    max-width: 400px;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.tick line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tick text {
    font-size: 14px;
}


/* slider de testimonios */

.slider {
    width: 100%;
    /* background-color: lightgray; */
    margin: 10px auto;
    /* height: 200px; */
}

.slidercontainer {
    width: 100%;
    /* height: 200px; */
    margin: 0px auto;
}

.sliderspot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: gray;
    display: inline;
    cursor: pointer;
    cursor: hand;
}

.sliderspot:hover {
    background-color: black;
}

.spot1 {
    margin: 100px 30px;
    float: left;
}

.spot2 {
    margin: 100px 30px;
    float: right;
}

#sliderul {
    list-style-type: none;
    /* margin-left: 4%; */
    width: 80%;
    /* text-align: center;
    height: 150px; */
    padding: 10px;
    line-height: 30px;
    display: inline-block;
}

.slidercontent {
    margin-top: 20px;
    font-size: 20px;
    color: #1D1F20;
}

.slidercontent img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 14px;
}

.slidercontent p {
    font-size: 15px;
}

.slidercontent span {
    font-size: 18px;
    display: block;
    color: #343436;
    position: relative;
    top: 1rem;
}

@media only screen and (max-width: 600px) {
    #container_mapa {
        width: 100%
    }
    #legend_mapa {
        right: -2rem;
        bottom: -1rem;
    }
    .legend_1,
    .legend_2,
    .legend_3,
    .legend_4 {
        display: block;
        margin: auto;
        margin-right: 0px;
    }
    #sliderul {
        margin-left: 0;
        width: 70%
    }
    .slidercontent img {
        float: none;
        margin-right: 0;
    }
    .spot1,
    .spot2 {
        margin: calc(100%) 10px;
    }
}